Package: enigma2-plugin-systemplugins-gbipboxclient
Version: 1.0
Description: GigaBlue IPBox Client
Section: base
Priority: optional
Maintainer: X
License: Proprietary
Architecture: all
Depends: enigma2

